.App {
  background-image: url("./assets/fondDecran.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

img {
  width: 450px;
  border-radius: 30px;
}
